* { 
	box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
    overflow-x: hidden;
}
/*Header*/
header{
    position: fixed;
    width:100%;
}
.header-icon{
    height:70%;
    width:auto;
}
.header-button{
    width:140px;
    height: 60px;
    padding:1px 2px;
}
nav{
    display: flex;
    flex-direction: row;
    padding: 1vw 5vw;
    align-items: center;
    justify-content: space-between;
    height:20vh;
}
.nav-links *{
    font-size: 20px;
    padding:0px 2px;
}
.nav-links{
    color: aliceblue;
    font-size: 18px;
    width: 70%;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
/*intro*/

.intro{
    min-height: 100vh;
    height: auto;
    width:100%;
    background:rgba(0,0,0,0.7) url('IMG_9780.JPG');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    display: flex;
    align-items: flex-end;
    padding-top:20vmin;
    padding-bottom: 3vh;

}
/*general*/
.container{
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: auto;
    padding-right: 40px;
    max-width:60vmax;
    padding-left: 40px;
    padding-right: 40px;
}
.container>*{
    height:auto;
    width:100%;
    margin:25px 0;
}
.button{
    color:white;
    border-color: #00DD00;
    border-radius:7px;
    background-color: #00DD00;
    height: 8vh;
    width: 196px;
    padding: 4px 8px;
    font-size:  calc((1.6 - 1) * 1.2vmax + 1rem);
}
.header-l{
    color:white;
    font-size: calc((3.5 - 1) * 1.2vmax + 1rem);
}
.info{
    color:white;
    font-size: calc((1.6 - 1) * 1.2vmax + 1rem);
    max-width: 70vmin;
}
