* { 
	box-sizing: border-box;
}
html, body {
	min-height: 100%;
	background: #fff;
	color: #000;
}
/*Header*/
header{
    
}
nav{
    display:flex;
    flex-direction: row;

}
.nav-links{
    display:flex
}